button, a.social-link {
    border-color: white;
    color: white;
}

button:hover, a.social-link:hover {
    background: white;
    color:black;

    i[data-attribute="white"] {
        color: black;
    }
}

[data-attribute="green"] {color:green;}
[data-attribute="purple"] {color:purple;}
[data-attribute="orange"] {color:orange;}
[data-attribute="red"] {color:red;}
[data-attribute="white"] {color:white;}
[data-attribute="pink"] {color:pink;}